.navbar {
  background: #edf1f1;
  position: fixed;
  width: 100%;
}

.title {
  font-size: 25px;
  color: #1990ff;
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  list-style: none;
}

li {
  display: inline;
  margin: 15px;
  cursor: pointer;
}

a {
  list-style: none;
}

.nav-right {
  margin-left: auto;
}

ul .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: crimson;
  visibility: hidden;
  opacity: 0;
  font-size: 1;
}

.nav-links {
  color: rgb(58, 78, 95);
}

.nav-links:hover {
  transition: all 0.2 ease-out;
}

.fa-bars,
.fa-times {
  display: none;
}

/******home connection*******/
.home {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  gap: 5rem;
}

.form-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***********************login page*************************/
.home_login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_home {
  color: #1990ff;
  margin-top: 10%;
}

.post {
  padding: 15px;
  width: 35rem;
  border-radius: 25px;
}

.image {
  margin-top: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .image {
    animation: image infinite 20s linear;
  }
}

@keyframes image {
  form {
    transform: translate(15px);
  }
  to {
    transform: translate(100px);
  }
}
