.navbar {
  background: #dce9e8;
}

.title {
  font-size: 25px;
  color: #1990ff;
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  list-style: none;
}

li {
  display: inline;
  margin: 15px;
  cursor: pointer;
}

a {
  list-style: none;
}

.nav-right {
  margin-left: auto;
}

ul .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: crimson;
  visibility: hidden;
  opacity: 0;
  font-size: 1;
}

.nav-links {
  color: rgb(58, 78, 95);
}

.nav-links:hover {
  transition: all 0.2 ease-out;
}

.fa-bars,
.fa-times {
  display: none;
}
